body {
    background: linear-gradient( 358.4deg,  rgba(249,151,119,1) -2.1%, rgba(98,58,162,1) 90% );
    height: 100vh;
    align-items: center;
    justify-content: center;
    
    margin: auto;
     width: 30%;
     color:white;
     padding: 10px;
  }
 
     h1,h3 {
        margin: 0;
        color:white;
      }
  
      h1 {
          color:white;
        font-size: 66px;
      }
      .inputs[type=number] {
    height: 30px;
    width: 200px;
    font-size: 26px;
}


      p{
       
          font-size:46px;
          color:white;
      }
      a{
          color:white;
      }
      